VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndhZ2Zybnh3YWNxZ2hxZ290bnpsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgzMzg5NjksImV4cCI6MjEwMzkxNDk2OX0.lBxTN-UmCDgwytGI_6CUBcEMk2tvpyXtABr1kTfaeDA
VITE_SUPABASE_URL=https://wagfrnxwacqghqgotnzl.supabase.co
VITE_TELEGRAM_BACKEND_URL=
VITE_TELEGRAM_BACKEND_KEY=nintanime2026telegram9x7k2m
